.quiz-field { /* position + sizes */
    overflow: scroll;
    max-width: 500px;
    min-width: fit-content;
    width: 80%;
    max-height: 500px;
    height: 50%;
    min-height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}